<div class="breadcrumb_background">
  <div class="title_full">
    <div class="container a-center">
      <div class="threeD">
        Thực phẩm sạch cho mọi nhà!
      </div>
    </div>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Tên thực phẩm" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="shop_cart">
      <a>
        <img src="../../assets/image/shopping_cart_icon.png">
      </a>
    </div>
  </div>
</div>
